<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register success</title>
</head>
<body>
    Request added!! </br>
    <button onclick="redirectToPage()">Back to Performance</button>
        <script>
            function redirectToPage() {
            // Replace 'desired_page.html' with the URL of the page you want to direct to
            window.location.href = '/users/performance';
            }
        </script>

</body>
</html>