<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address-book</title>
    <link rel="stylesheet" href="/css/address-book.css">
</head>

<body>

    <div id="top-bar">
        <h1> Enterprise Information Management System</h1> 
    </div>

    <!-- menu-->
    <ul id="navbar">
        <li><a href="/users/dashboard">Home Page</a></li>
        <li><a href="/users/admin_schedule">Attendance</a></li>
        <li><a href="#">Meeting</a></li>
        <li><a href="#">Approval </a></li>
        <li><a href="/users/performance">Performance</a></li>
        <li><a href="/users/addressBook">Address book</a></li>
        <li><a href="#">Information center</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="/users/personalCenter">Personal Center</a></li>
        <li><a href="/users/settings">Settings</a></li>
        <li><a href="#">ffff</a></li>
    </ul>


    <!--address book-->
    <div id="address-book">
        <div id="search-bar">
            <input type="text" placeholder="Search..." style="width: 100%; padding: 10px;">
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AAA</td>
                    <td>AAA@gmail.com</td>
                    <td>123-456-7890</td>
                    <td>Design</td>
                </tr>
                <tr>
                    <td>BBB</td>
                    <td>BBB@gmail.co</td>
                    <td>987-654-3210</td>
                    <td>managenment</td>
                </tr>
                <!-- Add more entries as needed -->
            </tbody>
        </table>
    </div>

    </div>


</body>

</html>
