<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address-book</title>
    <link rel="stylesheet" href="/css/adduser.css">
</head>

<body>

<div id="top-bar">
    <h1> Enterprise Information Management System</h1>
</div>

<!-- menu-->
<ul id="navbar">
    <li><a href="/users/dashboard">Home Page</a></li>

    <li><a href="#">Attendance</a></li>
    <li><a href="/users/performance">Approval</a></li>
    <li><a href="/users/payrollUser">Payroll</a></li>
     <li   th:if="${user.admin}"  ><a href="/users/addressBook">Address book</a></li>
   <li><a href="/file/toFilePage">Benefits Management</a></li>



    <li><a href="/users/personalCenter">Personal Center</a></li>
    <li><a href="/users/settings">Settings</a></li>
    <li><a href="/logout">logout</a></li>
</ul>


<!--address book-->
<div id="address-book">
    <h1>New User</h1>
    <form action="/users/addb" method="post">
        <div class="input-box">
            userName: <input  type="text" id="name" name="name" placeholder="Username" required>
            <i class='bx bxs-user'></i>
        </div>
        <br>
        <div class="input-box">
           password: &nbsp;<input type="password" id="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="admin">
            isAdmin:&nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="isAdmin" name="isAdmin" value="true">Admin</label>
        </div>


        <!--test profile, need to move to profile page later-->
        <div class="input-box">
            phone: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber"></label>
        </div>
        <div class="input-box">
            email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="text" id="email" name="email" placeholder="email: xxx@xxx.xxx"></label>
        </div>

        <div class="form-group">
            Department:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select id="department" name="department" placeholder="e.g. Engineering">
                <option value="Human Resource">Human Resource</option>
                <option value="Finance">Finance</option>
                <option value="Engineering">Engineering</option>
                <!-- Add more departments as needed -->
            </select>
        </div>

       <button type="submit" class="btn" style="margin-left: 100px;margin-top: 10px">add user</button>

       <div id="search-bar"><a href="/users/addressBook"> <button>back</button></a>
    </div>
    </form>



</div>




</body>

</html>
