<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll User</title>
    <link rel="stylesheet" href="/css/payroll.css">
</head>
<body>
    <div id="top-bar">
        <h1> Enterprise Information Management System</h1> 
    </div>

    <!-- menu-->
    <ul id="navbar">
        <li><a href="/users/dashboard">Home Page</a></li>
        <li><a href="/users/schedule">Attendance</a></li>
        <li><a href="#">Meeting</a></li>
        <li><a href="#">Approval </a></li>
        <li><a href="/users/performance">Performance</a></li>
        <li><a href="/users/payrollUser">Payroll</a></li>
        <li><a href="/users/addressBook">Address book</a></li>
        <li><a href="#">Information center</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="/users/personalCenter">Personal Center</a></li>
        <li><a href="/users/settings">Settings</a></li>
    </ul>

    <!-- payroll -->
    <div id="payroll">
        <div id="payroll-title">Payroll:</div>
        <table>
            <thead>
                <tr>
                    <th>Week:</th>
                    <th>Hours Worked</th>
                    <th>Gross Income</th>
                    <th>CPT (Tax) (7.7%)</th>
                    <th>Net Income</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>40</td>
                    <td>$940.00</td>
                    <td>$72.38</td>
                    <td>$867.62</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>40</td>
                    <td>$940.00</td>
                    <td>$72.38</td>
                    <td>$867.62</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>36</td>
                    <td>$846.00</td>
                    <td>$65.14</td>
                    <td>$780.86</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
