<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll User</title>
    <link rel="stylesheet" href="/css/payroll.css">
</head>

<body>
    <div id="top-bar">
        <h1> Enterprise Information Management System</h1> 
    </div>

    <div id="main-content"> 
    <!-- menu-->
    <ul id="navbar">
        <li><a href="/users/dashboard">Home Page</a></li>
        <li><a href="/users/schedule">Attendance</a></li>
        <li><a href="#">Meeting</a></li>
        <li><a href="#">Approval </a></li>
        <li><a href="/users/performance">Performance</a></li>
        <li><a href="/users/payrollUser">Payroll</a></li>
        <li><a href="/users/addressBook">Address book</a></li>
        <li><a href="#">Information center</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="/users/personalCenter">Personal Center</a></li>
        <li><a href="/users/settings">Settings</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>

        <div id="payroll-container">

            <!-- title -->
            <div id="payroll-title"> <span>Payroll:</span></div>

            <!-- Current Salary Display -->
            <div id="current-salary-display">
                <span>Current Salary:</span> 
                <span th:text="${currentUserSalary}">0.00</span>  
                <a href="https://www.canada.ca/en/revenue-agency/services/e-services/cra-login-services.html" target="_blank">CRA-Tax breakdown</a>
            </div>

            <!-- payroll -->
            <div id="payroll">
                <table>
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Hours Worked:</th>
                            <th>Gross Income ($):</th>
                            <th>CPT (Tax) (7.7%):</th>
                            <th>Net Income ($):</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="payroll : ${payrolls}">
                            <td th:text="${payroll.week.weekName}"></td>
                            <td th:text="${payroll.hoursWorked}"></td>
                            <td th:text="${#numbers.formatDecimal(payroll.grossIncome, 1, 2)}"></td>
                            <td th:text="${#numbers.formatDecimal(payroll.taxesCPT, 1, 2)}"></td>
                            <td th:text="${#numbers.formatDecimal(payroll.netIncome, 1, 2)}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
