<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal-Center</title>
    <link rel="stylesheet" href="/css/Personal_Center.css">
</head>

<body>

    <div id="top-bar">
        <h1> Enterprise Information Management System</h1> 
    </div>


    <!-- menu-->
    <ul id="navbar">
        <li><a href="/users/dashboard">Home Page</a></li>
        <li><a href="/users/schedule">Attendance</a></li>
        <li><a href="#">Meeting</a></li>
        <li><a href="#">Approval </a></li>
        <li><a href="/users/performance">Performance</a></li>
        <li><a href="/users/payroll">Payroll</a></li>
        <li   th:if="${user.admin}"  ><a href="/users/addressBook">Address book</a></li>
        <li><a href="#">Information Center</a></li>
        <li><a href="/file/toFilePage">File Management</a></li>
        <li><a href="/users/personalCenter">Personal Center</a></li>
        <li><a href="/users/settings">Settings</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>


    <div id="profile-container">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-image">
                <img src="path_to_employee_image.jpg" alt="Employee Name">
            </div>
            <div>
                <div class="profile-name"   th:text="${user.username}">AAA</div>
                <div class="profile-position" >Software Engineer</div>
            </div>
        </div>
        
        <!-- Personal Information -->
        <div class="profile-section">
            <span class="profile-label">Email:</span>
            <span class="profile-value" th:text="${user.email}">AAA@gmail.com</span>
        </div>
        
        <div class="profile-section">
            <span class="profile-label">Phone Number:</span>
            <span class="profile-value" th:text="${user.phoneNumber}">123-456-7890</span>
        </div>
        

        
        <div class="profile-section">
            <span class="profile-label">Department:</span>
            <span class="profile-value" th:text="${user.department}">Engineering</span>
        </div>
        
        <!-- Add more sections as needed -->
        </div>



    </div>


</body>
