<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="/css/Setting.css">
</head>

<body>
    <div id="top-bar">
        <h1> Enterprise Information Management System</h1> 
    </div>

    <!-- menu-->
    <ul id="navbar">
        <li><a href="/users/dashboard">Home Page</a></li>
        <li><a href="/users/schedule">Attendance</a></li>
        <li><a href="/users/performance">Approval</a></li>
        <li><a href="/users/payrollUser">Payroll</a></li>
        <li   th:if="${user.admin}"  ><a href="/users/addressBook">Address book</a></li>
        <li><a href="/file/toFilePage">Benefits Management</a></li>
        <li><a href="/users/personalCenter">Personal Center</a></li>
        <li><a href="/users/settings">Settings</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>


    <div id="content">
        
        <div class="card">
            <h2>Personal Information Settings</h2>
            <div id="employee-form">
                <form action="/users/update/my" method="post">
                    <input  type="text" id="uid" name="uid"    th:value="${user.uid}"  style="display: none">


                    <div class="form-group">
                        <label for="fullName">User Name:</label>
                        <input type="text" id="fullName" name="username"  th:value="${user.username}"   required>
                    </div>

                    <div class="form-group">
                        <label for="fullName">Password:</label>
                        <input type="text" id="password" name="password"  th:value="${user.password}"   required>
                    </div>
        
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email"  th:value="${user.email}"   required>
                    </div>
        
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="phoneNumber"   th:value="${user.phoneNumber}"  >
                    </div>

                    <div class="form-group">
                        <select id="department" name="department" th:value="${user.department}">
                            <option value="Human Resource">Human Resource</option>
                            <option value="Finance">Finance</option>
                            <option value="Engineering">Engineering</option>
                            <!-- Add more departments as needed -->
                        </select>
                    </div>

                    <!-- Add more fields as necessary -->
        
                    <div class="form-group">
                        <input type="submit" class="submit-btn" value="Submit">
                    </div>
                </form>
            </div>
        </div>   


    </div>


</body>

</html>

